.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    overflow: auto;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.value {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 2vw;
    float: left;
    color: black;
    background-color: red;
    margin-left: 1px;
    margin-right: 1px;
}

.bubbleVal {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    background-color: red;
    margin-top: 1px;
    margin-bottom: 1px;
}

.values {
    min-height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#values {
    width: 100vw;
    min-height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mergePart {
    margin-left: 4px;
    margin-right: 4px;
    border: solid 2px black;
    display: inline-block;
}

.selectPart {
    margin-left: 4px;
    margin-right: 4px;
    border: solid 2px black;
    display: inline-block;
}

.insertPart {
    margin-left: 4px;
    margin-right: 4px;
    border: solid 2px black;
    display: inline-block;
}

.bucketPart {
    margin-left: 4px;
    margin-right: 4px;
    border: solid 2px black;
    display: inline-block;
}

/* Binary tree */
#heapTree {
    overflow: auto;
}

.node {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1vw;
    text-align: center;
    vertical-align: middle;
    line-height: 2vw;
    float: left;
    margin-left: calc(50% - 1vw);
    margin-right: calc(50% - 1vw);
    color: white;
    background-color: red;
}

.brancharea {
    background-color: springgreen;
    height: 4vw;
    overflow: auto;
    float: left;
}

.treeBranchLeft {
    width:50%;
    height:2vw;
    background-color: coral;
    float: left;
    margin-left: 50%;
}

.treeBranchRight {
    content: "";
    width:50%;
    height:2vw;
    background-color: darkcyan;
    float: left;
    margin-right: 50%;
}

.left {
    width: 50%;
    min-height: 4vw;
    float: left;
}

.right {
    width: 50%;
    min-height: 4vw;
    float: left;
}

.quickBorderVal {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 2vw;
    float: left;
    color: black;
    background-color: yellow;
    margin-left: 1px;
    margin-right: 1px;
}

.quickMiddleVal {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 2vw;
    float: left;
    color: black;
    background-color: orange;
    margin-left: 1px;
    margin-right: 1px;
}
